html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 75%;
    width: 75%;
    margin: 2% auto;
}

.panel {
    position: absolute;
    width: 108px;
    height: 126px;
    background-color: #000000;
    opacity: 0.75;
    bottom: 0;
    border-radius: 5px;
    padding-left: 11px;
    color: white;
}

